.salute{
   
    color:black;
    font-size: medium;;
  }
  ion-icon{
      margin-right: 2%;
      font-size: 24px;
  }
  ion-button{
      margin-top: 5%;
     
  }
  .row{
      margin-bottom: 5%;
  }
  ion-card{
      margin:4%;
  }
  img{
      width:50%;
      height:50%;
      margin-left: 27%;
  }
  .Appfontfamily{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
   }