<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<ion-app>
  <ion-menu side="start" menuId="Professionnel" contentId="main">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item class="Appfontfamily" (click)="closem()"   routerLinkActive="active-link" button [routerLink]="['/mes-rdv']" routerDirection='forward'><ion-icon name="calendar"></ion-icon> Mes RDV</ion-item>

        <ion-item class="Appfontfamily" (click)="closem()"  routerLinkActive="active-link"  button [routerLink]="['/mes-services']" ><ion-icon name="reader"></ion-icon>Mes Services</ion-item>
        <ion-item class="Appfontfamily" (click)="closem()"   routerLinkActive="active-link" button [routerLink]="['/MyClients']" routerDirection='forward'><ion-icon name="accessibility"></ion-icon>Mes Clients</ion-item>

        <ion-item class="Appfontfamily" (click)="closem()"  routerLinkActive="active-link"  button [routerLink]="['/profil-pro']" routerDirection='forward'><ion-icon name="home"></ion-icon> Mon Profil </ion-item>

        <ion-item class="Appfontfamily" (click)="closem()"   routerLinkActive="active-link" button [routerLink]="['/parametres']" routerDirection='forward'><ion-icon name="settings"></ion-icon> Parametres</ion-item>
        <ion-item class="Appfontfamily"  (click)='logout()'><ion-icon name="log-out"></ion-icon>Déconnexion</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="start" menuId="Client"  contentId="main" mode="ios">
    <ion-header>
      
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item class="Appfontfamily" (click)="closem()"routerLinkActive="active-link" button [routerLink]="['/myrdv']" routerDirection='forward'><ion-icon name="home"></ion-icon>Mon RDV</ion-item>
        <ng-container  >
          <ion-item class="Appfontfamily" (click)="closem()" [hidden]=this.hasRDV routerLinkActive="active-link" button [routerLink]="['/prendre-rdv']" routerDirection='forward'><ion-icon name="calendar"></ion-icon> Prendre un RDV</ion-item>
        </ng-container>
        <ion-item class="Appfontfamily" (click)="closem()" routerLinkActive="active-link" button [routerLink]="['/cmes-rdv']" routerDirection='forward'><ion-icon name="calendar"></ion-icon>Mes RDV</ion-item>
        <ion-item class="Appfontfamily" (click)="closem()" routerLinkActive="active-link" button [routerLink]="['/cprofile']" routerDirection='forward'><ion-icon name="person"></ion-icon> Mon Profil </ion-item>
       
      <ion-item  class="Appfontfamily" (click)="closem()" routerLinkActive="active-link" button [routerLink]="['/horaire']" routerDirection='forward'><ion-icon name="sunny-outline" ></ion-icon>Horaire de travail</ion-item>
        <ion-item class="Appfontfamily"  (click)='logout()'><ion-icon name="log-out"></ion-icon> Déconnexion</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
