ion-item{
   
    opacity:65%;
  }
ion-icon{
    margin-right: 3%;;
}
.Appfontfamily{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
 }
 .my-custom-class{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .primary{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
 }