.myTable{
    width:100%;
    max-width: 100%;
}
.thetablerows{ font-family: 'Roboto';font-size: 18px;}
tr td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
ion-icon{
    margin-right: 2%;
}