ion-searchbar{
    border-radius: 10rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

ion-list{
    opacity: 98%;
    background: linear-gradient(to right,  #FFE19C,white);
}

.maintitle{
    --background:  #FFE19C;
}
.text-art{
    font-family: 'Times New Roman', Times, serif;;
     font-weight: bold;
     font-size: medium;
     filter: blur(0.5px);
    }
    body{margin-top: 27%;}
img{border-image: auto;;}
.Appfontfamily{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
   }